Repository yizzycool/movies-to-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

[what] add 2 components: Watchlist and FavoriteButton.
  src/components/common/favorite-button/index.jsx
  src/components/movie/intro/index.jsx
  src/components/watchlist/index.jsx
  src/components/watchlist/index.module.scss
  src/components/watchlist/loading-skeleton/index.jsx
  src/pages/watchlist.jsx
Due: prettier --write, eslint --fix, stylelint --fix

[what] refactor: add proxy server to proxy TMDB-related API requests since access token cannot be exposed to client side.
  .env.development
  .env.production
  .gitignore
  package.json
  src/pages/api/tmdb/[...slug].js
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] update scripts in package.
  package.json
Due: prettier --write

[what] refactor: add a new component TmdbMovieHoverMask to be reused.
  src/components/common/tmdb-movie-hover-mask/index.jsx
  src/components/common/tmdb-movie-hover-mask/index.module.scss
  src/components/search/index.jsx
  src/components/watchlist/index.jsx
  src/components/watchlist/index.module.scss
  src/components/watchlist/your-watchlist/index.jsx
  src/components/watchlist/your-watchlist/loading-skeleton/index.jsx
Due: prettier --write, eslint --fix, stylelint --fix

[what] add library: animate.css.
  package.json
  src/pages/_app.jsx
  yarn.lock
Due: prettier --write, eslint --fix

[what] add mock AiGenBlock that will trigger AI recommendation later.
  src/components/watchlist/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/index.module.scss
  src/components/watchlist/your-watchlist/index.jsx
  src/components/watchlist/your-watchlist/loading-skeleton/index.jsx
  src/components/watchlist/your-watchlist/loading-skeleton/movie-card/index.jsx
Due: prettier --write, eslint --fix, stylelint --fix

[what] add library: @google/generative-ai.
  package.json
  yarn.lock
Due: prettier --write

[what] add gemini api and implement ai recommendation API function.
  src/pages/api/ai-recommendation/index.js
  src/store/apis/gemini.js
  src/store/index.js
  src/store/reducers.js
Due: prettier --write, eslint --fix

[what] add components: Prologue and UserChoiceModal that can let user choose their favorite genres/moods before calling ai recommendation API.
  src/components/watchlist/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/index.module.scss
  src/components/watchlist/your-watchlist/ai-gen-block/prologue/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/prologue/index.module.scss
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/genres-block/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/genres-block/index.module.scss
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/mood-block/index.jsx
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/mood-block/index.module.scss
  src/components/watchlist/your-watchlist/index.jsx
  src/hooks/watchlist/ai-recommended-watchlist/user-query-ai-recommended-watchlist.js
Due: prettier --write, eslint --fix, stylelint --fix

[what] add component: AiRecommendedWatchlist.
  src/components/watchlist/ai-recommended-watchlist/index.jsx
  src/components/watchlist/ai-recommended-watchlist/loading-skeleton/index.jsx
  src/components/watchlist/ai-recommended-watchlist/loading-skeleton/movie-card/index.jsx
  src/components/watchlist/index.jsx
Due: prettier --write, eslint --fix

[what] update component: set 'delay' of BootstrapToast to be 2000ms.
  src/components/common/bootstrap-toast/index.jsx
  src/data/common/bootstrap-toast/index.js
Due: prettier --write, eslint --fix

[what] refactor: move hardcoded data into @/data directory.
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/mood-block/index.jsx
  src/data/watchlist/your-watchlist/ai-gen-block/user-choice-modal/index.js
Due: prettier --write, eslint --fix

[what] add reducer: searchHistory that will record user's search query (up to 10 records).
  src/store/reducers.js
  src/store/search-history-slice.js
Due: prettier --write, eslint --fix

[what] refactor: handle search history in a new component.
  src/components/header/search-bar/index.jsx
  src/components/header/search-bar/search-history/index.jsx
  src/components/home/top-banner/index.jsx
Due: prettier --write, eslint --fix

[what] update styles: control border radius in wrapper but not image element itself.
  src/components/common/tmdb-image/index.jsx
  src/components/movie/cast/index.jsx
  src/components/movie/intro/index.jsx
Due: prettier --write, eslint --fix

[what] split infinite scroll into a new component to be reused further.
  src/components/common/infinite-scroll-movie-list/index.jsx
  src/components/common/infinite-scroll-movie-list/loading-skeleton/index.jsx
  src/components/search/index.jsx
Due: prettier --write, eslint --fix

[what] add reusable component: GeneralMovieList that display movies with different trends (Popular, Top Rated, etc.) and use infinite scroll to load more movies when scroll to bottom.
  src/components/general-movie-list/index.jsx
  src/components/home/index.jsx
  src/components/home/movie-lists/index.jsx
  src/pages/now-playing.jsx
  src/pages/popular.jsx
  src/pages/top-rated.jsx
  src/pages/upcoming.jsx
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] update UI: update background image for home page.
  public/assets/images/home/background.png
  public/assets/images/home/movie-film-1.png
  public/assets/images/home/movie-film-2.png
  src/components/home/movie-lists/index.jsx
  src/components/home/top-banner/index.jsx
  src/components/home/top-banner/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

[what] update: not to show ai-recommendations until user click ai-gen button.
  src/components/watchlist/ai-recommended-watchlist/index.jsx
  src/components/watchlist/ai-recommended-watchlist/index.module.scss
  src/components/watchlist/your-watchlist/ai-gen-block/user-choice-modal/genres-block/index.jsx
  src/hooks/watchlist/ai-recommended-watchlist/user-query-ai-recommended-watchlist.js
Due: prettier --write, eslint --fix, stylelint --fix

[what] add component: SlotMachine.
  public/assets/images/watchlist/background.png
  public/assets/images/watchlist/slot-machine.png
  src/components/watchlist/index.jsx
  src/components/watchlist/slot-machine/index.jsx
  src/components/watchlist/slot-machine/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

[what] update Account icon: remove border width.
  src/components/header/account/index.jsx
Due: prettier --write, eslint --fix

[what] update behavior of FavoriteButton: queued user click and update to watchlist after user signed in.
  public/assets/images/account/google.svg
  src/components/common/favorite-button/index.jsx
  src/components/header/account/index.jsx
  src/components/header/index.jsx
  src/components/header/sign-in-modal/index.jsx
  src/store/modal-slice.js
  src/store/reducers.js
Due: prettier --write, eslint --fix

[what] update UX of Trailer: did not popup YouTube modal after slide left/right.
  src/components/movie/trailer/index.jsx
Due: prettier --write, eslint --fix

[what] update movie cast carousel: show icon if there exist no valid photo about the actor.
  src/components/common/tmdb-image/index.jsx
  src/components/movie/cast/index.jsx
Due: prettier --write, eslint --fix

[what] add title under movie poster in Home page.
  src/components/home/movie-lists/index.jsx
  src/components/home/movie-lists/loading-skeleton/index.jsx
  src/components/search/loading-skeleton/index.jsx
Due: prettier --write, eslint --fix

[what] add new API param: 'appendToResponse' to getMovieDetails API.
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] udpate UI styles for comopnents in /common folder.
  src/components/common/tmdb-genre-tag/index.jsx
  src/components/common/tmdb-image/index.jsx
  src/components/common/tmdb-video-rating-star/index.jsx
Due: prettier --write, eslint --fix

[what] add Mask on MovieList component.
  src/components/home/movie-lists/index.jsx
Due: prettier --write, eslint --fix

[what] add new components in /movie page: Recommendations and Similar.
  src/components/movie/cast/index.jsx
  src/components/movie/index.jsx
  src/components/movie/intro/index.jsx
  src/components/movie/recommendations/index.jsx
  src/components/movie/similar/index.jsx
  src/components/movie/trailer/index.jsx
  src/components/movie/trailer/loading-skeleton/index.jsx
Due: prettier --write, eslint --fix

[what] update UI styles (css).
  src/components/general-movie-list/index.jsx
  src/components/movie/intro/loading-skeleton/index.jsx
  src/components/search/index.jsx
  src/components/watchlist/index.jsx
  src/components/watchlist/slot-machine/index.jsx
  src/components/watchlist/your-watchlist/index.jsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, stylelint --fix

[what] overwrite styles of bootstrap placeholder.
  src/styles/custom-bootstrap.scss
Due: prettier --write, stylelint --fix

[what] add a new component: NoResults that will show when there is no results found.
  public/assets/images/search/no-result.png
  src/components/common/infinite-scroll-movie-list/index.jsx
  src/components/search/index.jsx
  src/components/search/no-results/index.jsx
  src/components/watchlist/index.jsx
Due: prettier --write, eslint --fix

[what] add components to show "No Data" if we cannot find any data from API response.
  src/components/home/movie-lists/index.jsx
  src/components/home/movie-lists/no-data/index.jsx
  src/components/movie/cast/index.jsx
  src/components/movie/cast/no-data/index.jsx
  src/components/movie/index.jsx
  src/components/movie/intro/index.jsx
  src/components/movie/recommendations/index.jsx
  src/components/movie/similar/index.jsx
  src/components/movie/trailer/index.jsx
  src/components/movie/trailer/no-data/index.jsx
Due: prettier --write, eslint --fix

[what] add a new component: NoWatchlsit to show when user has not yet add any favorite movie.
  src/components/common/favorite-button/index.jsx
  src/components/watchlist/index.jsx
  src/components/watchlist/your-watchlist/index.jsx
  src/components/watchlist/your-watchlist/loading-skeleton/index.jsx
  src/components/watchlist/your-watchlist/no-watchlist/index.jsx
Due: prettier --write, eslint --fix

[what] update AI recommendation list: hide empty types (either Genres or Moods).
  src/components/watchlist/ai-recommended-watchlist/index.jsx
Due: prettier --write, eslint --fix

[what] add SomethingWentWrong component for AiRecommendedWatchlist.
  public/assets/images/watchlist/something-went-wrong.png
  src/components/watchlist/ai-recommended-watchlist/index.jsx
  src/components/watchlist/ai-recommended-watchlist/something-went-wrong/index.jsx
  src/hooks/watchlist/ai-recommended-watchlist/user-query-ai-recommended-watchlist.js
Due: prettier --write, eslint --fix

[what] update icon.
  public/assets/images/home/background-original.png
  public/assets/images/home/background.png
  public/assets/images/home/logo.png
  public/favicon.png
  src/components/header/index.jsx
Due: prettier --write, eslint --fix

[what] add Goggle font: Poppins.
  src/fonts/poppins.jsx
  src/pages/_app.jsx
  src/styles/custom-bootstrap.scss
Due: prettier --write, eslint --fix, stylelint --fix

[what] fix: try-catch to handle error in /api.
  src/pages/api/ai-recommendation/index.js
  src/pages/api/tmdb/[...slug].js
Due: prettier --write, eslint --fix

[what] update UI: shorten description of home page.
  src/components/home/top-banner/index.jsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: {*,src/*,src/**/*}.{jsx,js}) or (any of: {*,src/*,src/**/*}.json)) or (any of: {*,src/*,src/**/*}.{html,scss,css})
  eslint --fix: any of: {*,src/*,src/**/*}.{jsx,js}
  stylelint --fix: any of: {*,src/*,src/**/*}.{html,scss,css}
