Repository yizzycool/movies-to-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

[what] add libraries: lodash & sass
  package.json
  yarn.lock
Due: prettier --write

[what] update html head contents.
  public/favicon.png
  src/pages/_app.js
  src/pages/index.js
  src/styles/Home.module.css
Due: prettier --write, eslint --fix, stylelint --fix

[what] add UI library: Bootstrap@^5.3.3.
  package.json
  src/pages/_app.js
  src/styles/custom-bootstrap.scss
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

[what] update content of eslint/stylelint/prettier.
  .eslintignore
  .eslintrc
  .prettierignore
  .prettierrc
  .stylelintignore
  package.json
  yarn.lock
Due: prettier --write

[what] add libraries: bootstrap & redux
  package.json
  yarn.lock
Due: prettier --write

[what] update rule of eslint: no-unused-vars.
  .eslintrc
Due: none

[what] add redux store, and add 2 reducers. new reducers: - config - tmdbApi
  src/data/color-modes/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
  src/store/apis/tmdb.js
  src/store/config/config-slice.js
  src/store/index.js
  src/styles/globals.css
Due: prettier --write, eslint --fix, stylelint --fix

[what] add header component. new components: - Header - ColorModeControl - SearchBar
  src/components/header/color-mode-control/index.jsx
  src/components/header/index.jsx
  src/components/header/search-bar/index.jsx
  src/pages/_app.js
Due: prettier --write, eslint --fix

[what] add bootstrap variable to window.
  src/pages/_app.js
Due: prettier --write, eslint --fix

[what] add 2 hooks: use-breakpoints and use-window-size.
  .stylelintrc
  src/hooks/use-breakpoints.js
  src/hooks/use-window-size.js
  src/styles/breakpoints.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

[what] add home page and top banner component.
  .stylelintrc
  public/assets/images/home/movie-film-1.png
  public/assets/images/home/movie-film-2.png
  src/components/header/index.jsx
  src/components/header/search-bar/index.jsx
  src/components/home/index.jsx
  src/components/home/top-banner/index.jsx
  src/components/home/top-banner/index.module.scss
  src/pages/index.js
Due: prettier --write, eslint --fix, stylelint --fix

[what] add libraries: swiper and url-join.
  package.json
  yarn.lock
Due: prettier --write

[what] add component to show popular movies.
  next.config.mjs
  src/components/common/tmdb-image/hooks/use-get-image-size.js
  src/components/common/tmdb-image/index.jsx
  src/components/header/color-mode-control/index.jsx
  src/components/header/index.jsx
  src/components/home/index.jsx
  src/components/home/popular-movies/index.jsx
  src/pages/_app.js
  src/store/apis/tmdb.js
  src/styles/loading-skeleton.css
Due: prettier --write, eslint --fix, stylelint --fix

[what] add loading skeleton for popular movies.
  src/components/common/tmdb-image/index.jsx
  src/components/home/popular-movies/index.jsx
  src/components/home/popular-movies/loading-skeleton/index.jsx
Due: prettier --write, eslint --fix

[what] add Footer component.
  src/components/footer/index.jsx
  src/pages/_app.js
Due: prettier --write, eslint --fix

[what] add library: moment.js.
  package.json
  yarn.lock
Due: prettier --write

[what] replace file extension `.js` to `.jsx`.
  src/pages/_app.jsx
  src/pages/_document.jsx
  src/pages/index.js
  src/pages/index.jsx
Due: prettier --write, eslint --fix

[what] add page: /movie that will show movie details.
  src/components/common/tmdb-video-rating-star/index.jsx
  src/components/movie/index.jsx
  src/components/movie/intro/index.jsx
  src/components/movie/intro/loading-skeleton/index.jsx
  src/pages/movie.jsx
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] update TmdbImage component: show 'No Poster' if path is empty.
  src/components/common/tmdb-image/index.jsx
Due: prettier --write, eslint --fix

[what] update TmdbVideoRatingStar: add an option: stringInNewLine.
  src/components/common/tmdb-video-rating-star/index.jsx
Due: prettier --write, eslint --fix

[what] add hook: useIntersectionObserver - can observe if a specific DOM element is about to show on screen.
  src/hooks/use-intersection-observer.js
Due: prettier --write, eslint --fix

[what] add page: /search that can search movies with any keyword.
  src/components/header/index.jsx
  src/components/header/search-bar/index.jsx
  src/components/home/popular-movies/index.jsx
  src/components/movie/intro/index.jsx
  src/components/search/index.jsx
  src/components/search/index.module.scss
  src/components/search/loading-skeleton/index.jsx
  src/pages/search.jsx
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix, stylelint --fix

[what] add component: TmdbGenreTag that will show on search results.
  src/components/common/tmdb-genre-tag/index.jsx
  src/components/header/index.jsx
  src/components/search/index.jsx
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] add new APIs and UI: `now playing`, `popular`, `top rated`, and `upcoming`.
  src/components/common/swiper-carousel/index.jsx
  src/components/home/index.jsx
  src/components/home/movie-lists/index.jsx
  src/components/home/movie-lists/loading-skeleton/index.jsx
  src/components/home/popular-movies/index.jsx
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] add API and component: getMovieCredits.
  src/components/movie/cast/index.jsx
  src/components/movie/cast/loading-skeleton/index.jsx
  src/components/movie/index.jsx
  src/components/movie/intro/index.jsx
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix

[what] fix bug: 'class' is not correct name in React, use 'className' instead.
  src/components/movie/cast/index.jsx
  src/components/movie/cast/loading-skeleton/index.jsx
Due: prettier --write, eslint --fix

[what] update movie Intro component: do not show releaseYear if not exist.
  src/components/movie/intro/index.jsx
Due: prettier --write, eslint --fix

[what] update TmdbImage component: do not show Image until url is valid.
  src/components/common/tmdb-image/index.jsx
Due: prettier --write, eslint --fix

[what] add and rename components. - new component: SwiperCarouselVideo. - replace SwiperCarousel to be SwiperCarouselImage.
  src/components/common/swiper-carousel-image/index.jsx
  src/components/common/swiper-carousel-video/index.jsx
  src/components/home/movie-lists/index.jsx
  src/components/home/top-banner/index.jsx
  src/components/movie/cast/index.jsx
Due: prettier --write, eslint --fix

[what] add components: YoutubeModal and Trailer.
  next.config.mjs
  src/components/common/youtube-modal/index.jsx
  src/components/movie/index.jsx
  src/components/movie/trailer/index.jsx
  src/components/movie/trailer/index.module.scss
  src/store/apis/tmdb.js
Due: prettier --write, eslint --fix, stylelint --fix

[what] add library: firebase.
  package.json
  yarn.lock
Due: prettier --write

[what] add a new redux slice and UI comopnent for BootstrapToast.
  src/components/common/bootstrap-toast/index.jsx
  src/store/config-slice.js
  src/store/index.js
  src/store/toast-slice.js
Due: prettier --write, eslint --fix

[what] refactor: split header component to be NavDesktop and NavMobile.
  src/components/header/color-mode-control/index.jsx
  src/components/header/index.jsx
  src/components/header/nav-desktop/index.jsx
  src/components/header/nav-mobile/index.jsx
  src/components/header/search-bar/index.jsx
Due: prettier --write, eslint --fix

[what] add library: env-cmd to switch environment variables with different files.
  package.json
  yarn.lock
Due: prettier --write

[what] add .env.dev file.
  .env.dev
  .gitignore
Due: none

[what] add firebase sign in / sign out mechanism so that we can further record user's watch list.
  next.config.mjs
  src/components/header/account/index.jsx
  src/components/header/nav-desktop/index.jsx
  src/components/header/nav-mobile/index.jsx
  src/store/apis/firebase.js
  src/store/index.js
  src/store/user-slice.js
  src/utils/firebase-utils.js
Due: prettier --write, eslint --fix

[what] update: firebase config.
  .env.dev
Due: none

[what] update redux: apply persist store for 'user' reducer.
  package.json
  src/pages/_app.jsx
  src/store/index.js
  src/store/reducers.js
  yarn.lock
Due: prettier --write, eslint --fix

[what] add firebase realtime database to store watchlist.
  src/components/header/index.jsx
  src/hooks/header/user-realtime-database-monitor.js
  src/store/apis/firebase.js
  src/store/user-slice.js
  src/utils/firebase-utils.js
Due: prettier --write, eslint --fix

[what] update UI: correct pathname and UI styles.
  src/components/header/account/index.jsx
  src/components/search/index.jsx
  src/components/search/loading-skeleton/index.jsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: {*,src/*,src/**/*}.{jsx,js}) or (any of: {*,src/*,src/**/*}.json)) or (any of: {*,src/*,src/**/*}.{html,scss,css})
  eslint --fix: any of: {*,src/*,src/**/*}.{jsx,js}
  stylelint --fix: any of: {*,src/*,src/**/*}.{html,scss,css}
